{% extends 'PixelCoreBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1>Oh my ... what a poor homepage.</h1>

{% endblock %}
