{% extends 'PixelBootstrapBundle::layout.html.twig' %}

{% block content %}

    {% block fos_user_content %}

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </div>

    {% endblock %}
{% endblock %}