{% extends 'PixelBootstrapBundle::layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% block fos_user_content %}

        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Hello again</h1>
                    <p>
                        This is your profile page containing some informations about you and maybe more :)
                        <br />
                        You can even edit some of this informations by clicking <a href="{{ path('fos_user_profile_edit') }}">this link</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            </div>
        </div>

    {% endblock %}

{% endblock %}