{% extends 'PixelCoreBundle::layout.html.twig' %}

{% block content %}

    {% block fos_user_content %}

        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Oh, hello there</h1>
                    <p>This our awesome registration page but feel free to choose any other options presented on your right</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span8">
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div><!-- .span6 -->

            <div class="span4">
                <h2>Or you can</h2>
                <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li><a href="{{ path("fos_user_security_login") }}"><i class="icon-user"></i> Sign into your account</a></li>
                        <li><a href="{{ path("fos_user_resetting_request") }}"><i class="icon-question-sign"></i> Reset your password</a></li>
                        <li><a href="http://www.legoland.com/" target="_blank"><i class="icon-exclamation-sign"></i> Go to LEGOLAND!</a></li>
                    </ul>
                </div>
            </div><!-- .span6 -->
        </div><!-- .row -->

    {% endblock %}
{% endblock %}