{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Welcome!</h1>

    {% include 'RuianTwitterBootstrapBundle:Alert:bootstrap_v2.html.twig' %}


{% endblock %}
